{% extends 'base.html' %}

{% block title %}CatList{% endblock title %}
<link rel="stylesheet" href="static/style.css">
<style>
  strong {
    position: relative;
    top: 30px;
  }
</style>

{% block js %}
<!-- <script>
      let previews=document.getElementsByClassName('preview');
      Array.from(previews).forEach((element)=>{
          element.innerHTML=element.innerText;
      });
      </script> -->
{% endblock js %}

{% block body %}

<!-- <h8>Blog{{catlist.cat}}</h8> -->

{% for post in catlist.posts %}
<div class="blog-card">
  <div class="meta">
    <div class="photo">
      <a href="/blogpost/{{post.slug}}">
        <img src="/media/{{post.post_thumbnail}}" alt="">

    </div>
    <ul class="details">
      <li class="author">Author:{{post.author}}</li>
      <li class="date">Posted Date{{post.timestamp}}</li>

    </ul>
  </div>
  <div class="description">
    <h1>{{post.title}}</h1>
    <p>{{post.heading1|safe| truncatechars:200}}</p>
    <!--<p> {{post.content|safe| truncatechars:200}}</p>-->
    </a>



    {% if user.is_authenticated %}

    <form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit", name="post_id", value="{{post.sno}}" style="
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 95px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px;">
    <div class="likemaincont">
      <!--<input type="checkbox" class="like-btn">-->
      <i class="fa fa-heart"></i><span style='padding-left: 26px;'>{{post.total_likes}} Likes</span>
      </input>
    </div>
    </button>
   </form>

    {%else%}

    <i class="fa fa-heart"></i>
      <p style="margin-left:28px">{{post.total_likes}} Likes login to Like Post</p>
    {% endif %}
  </div>
</div>

{% endfor %}
{% endblock body %}